.git
.gitignore
.idea
.vscode

node_modules
backend/node_modules
frontend/node_modules

backend/dist
frontend/dist
data
deploy/data
deploy/postgres_data
deploy/redis_data
deploy/.env
deploy/docker-compose.yml

npm-debug.log*
pnpm-debug.log*
*.local
*.tmp
